body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif !important;
}
.bg-secondary {
  background-color: #2c3e50 !important;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 2em;
  line-height: inherit;
  white-space: nowrap;
}
.nav-link{
  color: white !important;
  font-size: 1.5em;
  font-weight: 600;
}
.nav-link:hover{
  color:#1abc9c !important;
}
.bg-my-primary {
  background-color: #1abc9c;
}
.my-avatar{
  width: 15rem;
  display: block;
  margin: 0 auto;
}
.section-avatar{
  background-color: transparent;
  margin: 0 auto;
  display: block;
  background: transparent;
  border-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.section-avatar:focus{
  background: transparent;
  border-color: transparent;
  border: none;
  outline: none;
}
.color-caption{
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.color-caption:hover{
  background-color: #1abc9c;
  transition: all ease-in-out 0.5s;
  height: 100%;
}
.color-caption:hover .fa-plus{
  opacity: 1;
  transition: all ease-in-out 0.5s;
}
.fa-plus{
  font-size: 5rem;
  opacity: 0;
  color: white;
}
.star{
  text-align: center;
  font-size: 2rem;
  color: white;
}
.list-group-item{
  display: block;
  font-size: 1.2rem;
  letter-spacing: 4px;
  font-weight: 700;
  color: #2c3e50 !important;
  border-bottom: 3px solid #2c3e50;
}
.contact-me{
  color: #2c3e50 !important;
}
hr{
  border-top: 2px solid #2c3e50 !important;
    border-bottom: 2px solid #2c3e50 !important;
    width: 25%;
}
.hr-white{
  border-top: 2px solid white !important;
  border-bottom: 2px solid white !important;
  width: 25%;
}
textarea {
  resize: none;
}

.my-img-section{
  display: block;
  margin: 0 auto;
  width: 100%;
}