body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100%;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
.navbar{
  background-color: #777;
}
.brand a{
  text-decoration: none;
    color: white;
}
.brand {
 margin: 0 auto;
}
.navbar ul{
  list-style: none;
  margin: 20px auto;
}
.navbar ul li{
  display: inline;
  color: white;
  padding: 10px;
  font: 400 15px/1.8 "Lato", sans-serif;
  font-size: 20px;
}
.navbar ul li a{
  color: white;
  text-decoration: none;
}

.area-1{
  min-height: 500px;
  background-image: url("images/a.jpg");
}
.area-2{
  min-height: 400px;
  background-image: url("images/d.jpg");
}
.area-3{
  min-height: 400px;
  background-image: url("images/e.jpg");
}
.area-1,.area-2,.area-3,.area-4{
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.caption{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
  left: 0;
}

.border-caption{
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  display: inline;
}
.info-div-parallax{
  background-color: white;
  color: #777;
  padding: 50px;
  text-align: center;
}
.info-div-parallax p{
  text-align: justify;
}
.info-div-parallax h3{
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 10px;
}
.middle-caption{
  color: #777;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 10px;
}
.info-div-parallax2{
  color: #ddd;
  background-color: #282E34;
  padding: 50px;
  text-align: center;
}
.footer{
  background-color: #777;
  height: 100px;
  text-align: center;
  padding: 20px;
}
.footer ul{
  list-style: none;
}
.footer ul li{
  display: inline;
  color: white;
  padding: 0 10px;
  font: 400 15px/1.8 "Lato", sans-serif;
  font-size: 20px;
}
/* ///blog page// */
.masthead-avatar{
  width: 15rem;
  display: block;
  margin: 0 auto;
}
.container{
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.me-avatar{
  width: 20rem;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width:800px) {
  .brand{
    display: none;
  }
}