body {
  background-image: linear-gradient(to right,blue,red);
  margin: 0;
  padding: 0;
}
.score{
  color: #fff;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 300px;
  margin: auto;
}
.modal{
  width: 80%;
  background-color: grey;
  color: blue;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.modal-text{
  background-color: aqua;
  color: black;
  margin: auto;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.home-button {
  display: inline-block;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  border-radius: 15px;
  text-decoration: none;
  margin: 1% auto;
  font-weight: 600;
}
.home-button:focus {
  border-color: transparent;
  border: none;
  outline: none;
  color: white;
}
.home-button:hover{
text-decoration: none;
color: #fff !important
}
.home-div{
  text-align: center;
}