body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #1abc9c !important;
}
#game{
    width: 700px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
    background-color: aqua;
}
#block{
    width: 50px;
    background-color: black;
    height: 500px;
    position: relative;
    left: 700px;
    animation:block 2s infinite linear;
}
@keyframes block {
    0%{left:700px}
    100%{left:-50px}
}
#hole{
    width: 50px;
    height: 150px;
    background-color: white;
    position: relative;
    left: 700px;
    top: -500px;
    animation:block 2s infinite linear;
}
#character{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    background-color: red;
}

.animatedBackground {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("images/background.png");
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
  /*adjust s value for speed*/
    animation: animatedBackground 500s linear infinite;
  }

  .animatedBackground2 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("images/background2.png");
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
  /*adjust s value for speed*/
    animation: animatedBackground 500s linear infinite;
  }
  .animatedBackground3 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("images/background3.png");
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
  /*adjust s value for speed*/
    animation: animatedBackground 500s linear infinite;
  }
  .animatedBackground4 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("images/background4.png");
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
  /*adjust s value for speed*/
    animation: animatedBackground 500s linear infinite;
  }
  .animatedBackground5 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("images/background5.png");
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
  /*adjust s value for speed*/
    animation: animatedBackground 500s linear infinite;
  }
  .animatedBackground6 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("images/background6.png");
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
  /*adjust s value for speed*/
    animation: animatedBackground 500s linear infinite;
  }
  
  @keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
  /*use negative width if you want it to flow right to left else and positive for left to right*/
    to {
      background-position: -10000px 0;
    }
  }

  .audio-src{
      display: none;
  }
  .home-button {
    display: block;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    border-radius: 15px;
    text-decoration: none;
    margin: 1% auto;
    width: 153px;
  }
  .home-button:focus {
    border-color: transparent;
    border: none;
    outline: none;
    color: white;
  }