body{
	font-family: 'Open Sans',sans-serif;
	background-color: black;
}


#container {
	background-image: linear-gradient(to right,blue,red);
	width: 1000px;
	height: 550px;
	margin: 20px auto;
	border-radius: 2%;
}

#calculator {
	width: 320px;
	height: 520px;
	margin: 0 auto;
	border-radius: 2%;
	background-color: aliceblue;
	position: relative;
	top: 20px;
}

#result{
	height: 120px;
}
#history{
	text-align: right;
	height: 20px;
	margin: 20px 20px;
	font-size: 15px;
}
#output {
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
}
#keyboard{
	height: 400px;
}

.operator, .number, .empty{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
}
.number, .empty{
	background-color: #eaedef;
}
.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}




button:nth-child(4){
	font-size: 20px;
	background-color: #20b2aa;
}
button:nth-child(8){
	font-size: 20px;
	background-color: #ffa500;
}
button:nth-child(12){
	font-size: 20px;
	background-color: #f08080;
}
button:nth-child(16){
	font-size: 20px;
	background-color: #7d93e0;
}
button:nth-child(20){
	font-size: 20px;
	background-color: #9477af;
}

 .home-button {
    display: block;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    border-radius: 15px;
    text-decoration: none;
    margin: 1% auto;
    width: 153px;
  }
  .home-button:focus {
    border-color: transparent;
    border: none;
    outline: none;
    color: white;
  }