/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: #1abc9c !important;
}
/*  global classes */

.asd{
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.btn-warning{
  display: block;
  margin: 20px auto;
}
.title{
  display: inline;
}

.delete-all-btn{
  display: none;
}
.show-delete-button{
  display: block;
}
.dynamic-item{
  position: relative;
}
.btn-container{
  position: absolute;
  top: 0;
  right: 0;
}
.my-alert{
  text-align: center;
  visibility: hidden;
}

.my-alert-danger{
  text-align: center;
  background-color: red;
  color: white;
  visibility: visible;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  transition: all 0.5s linear;
}

.my-alert-success{
  text-align: center;
  background-color: green;
  color: white;
  visibility: visible;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  transition: all 0.5s linear;
}
.my-alert-warning{
  text-align: center;
  background-color: yellow;
  color: blue;
  visibility: visible;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  transition: all 0.5s linear;
}
.show-btn{
  display: block;
}
.hide-btn{
  display: none
}
.main-container{
  margin-top: 10%;
}
.home{
  text-align: center;
}
a{
  text-decoration: none;
}
.home-button {
  display: inline-block;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  border-radius: 15px;
  text-decoration: none;
  margin: 0 auto !important;
}
.home-button:focus {
  border-color: transparent;
  border: none;
  outline: none;
  color: white;
}
.home-button:hover {
  text-decoration: none !important;
  color: white;
}